@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Body */

body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #4f7896; /* Same background as dashboard */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

p {
	font-family: Roboto, Arial, sans-serif;
}

/* Main Container */

.container {
	width: 550px;
	height: 450px;
	padding: 30px;
	background-color: #ffffff; /* Clean white */
	border-radius: 12px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
	text-align: center;
}

/* Header */

h1 {
	font-size: 32px;
	color: #104973;
	margin-bottom: 20px;
}

/* Form Inputs & Labels */

label {
	display: block;
	text-align: left;
	margin: 10px 0 5px;
	font-weight: 500;
	color: #333;
}

input {
	width: 100%;
	height: 50px;
	padding: 12px 15px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 16px;
	box-sizing: border-box;
}

/* Login Button */

.login-btn {
	background-color: #36709e;
	color: white;
	padding: 12px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-top: 20px;
	border-radius: 6px;
	font-size: 18px;
	display: inline-block;
	transition: 0.3s ease;
}

.login-btn:hover {
	background-color: #2a2929;
}

/* Sign Up Option */

.no-account {
	margin-top: 40px;
	font-size: 16px;
	color: #333;
}

.sign-up {
	padding: 8px 16px;
	border: none;
	font-size: 14px;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.3s ease;
	background-color: #e5e5e5;
	color: black;
}

.sign-up:hover {
	background-color: #d4d4d4;
}