<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="../assets/static/css/auth/login.css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to ScotBank!</h1>

            {{#if login_error}}
            <div class="error">
                <div class="error-header">{{login_error}}</div>
                <div class="error-message">{{login_message}}</div>
            </div>
            {{/if}}

            {{#if success_header}}
            <div class="success">
                <div class="success-header">{{success_header}}</div>
                <div class="success-message">{{success_message}}</div>
            </div>
            {{/if}}

            <form action="/login/auth" method="POST">
                <label for="uname">Username</label>
                <input type="text" id="uname" name="username" placeholder="Enter Username" required>

                <label for="pwd">Password</label>
                <input type="password" id="pwd" name="password" placeholder="Enter Password" required>

                <button type="submit" class="login-btn">Log In</button>
            </form>

            <div class="sign-up-option">
                <h2 class="no-account">No account?</h2>

                <a href="/signup"><button class="sign-up">Sign Up</button></a>
            </div>
        </div>
    </body>
</html>